.alert {

  &.is--error {
    color: @light-purple;
    background: desaturate(lighten(@light-purple, 38%), 20%);

    .alert--icon {
      background: @light-purple;
    }
  }

  &.is--warning {
    color: @light-purple;
    background: @light-light-gray;
  }
}