.product--details {

  .content--description {

    .product--description {
      color: @middle-gray;
    }

    .content--title {
      &:first-child {
        .unitize(font-size, 24);
        text-transform: uppercase;
        font-family: 'Fjalla One';
        .unitize(letter-spacing, 2);
      }
    }
  }

  .product--header {

    .product--title {
      .unitize(letter-spacing, 1);
    }
  }

  .product--buybox {

    .product--price {
      .unitize(margin-bottom, 20);
    }

    .price--discount-icon {
      background: @light-purple;
    }

    .price--discount .price--content {
      color: @light-purple;
    }
  }

  .buybox--button {
    background-color: @light-purple;
    border-color: @light-purple;
  }

  .delivery--text,
  .product--tax,
  .product--base-info {
    .unitize(font-size, 14);
  }
}

.is--ctl-detail .content-main--inner {
    .unitize(top, -20);
}

.is--ctl-detail {
  .tab-menu--cross-selling,
  .tab-menu--product {
    .unitize(max-width, @breite-max-container);
  }
}