.footer-main {
  background-color: @light-gray;

  .footer--columns {
    border-color: @dark-gray;
  }

  .footer--column {
    &.column--hotline,
    &.column--newsletter {

      .column--desc {
        line-height: 1.2;
        color: @middle-gray;
      }
    }

    &.column--hotline {

      .column--desc {

        .fonnumber {
          font-size: initial;
          font-weight: bold;
          color: @dark-gray;
        }
      }
    }
  }

  .newsletter--button {
    background-color: @light-purple;
    border-color: @light-purple;
    color: #fff;
  }

  .column--headline {
    .unitize(font-size, 16);
  }
}

.footer--vat-info {

  .vat-info--text {
    .unitize(font-size, 11);
  }
}

.footer--copyright-container {
  background-color: black;

  .footer--copyright {
    text-align: center;
    color: @light-gray;
  }
}

@media screen and (min-width: @tabletViewportWidth) {

  .footer--vat-info {

    .vat-info--text {
      .unitize(margin-bottom, 10);
    }
  }

  .footer-main {

    .newsletter--field {
      .unitize(font-size, 11);
      .unitize-padding(5, 5, 4, 5);
    }

    .newsletter--button {
      line-height: 1.6;
    }

    .navigation--link {
      line-height: 1.2;
    }

    .footer--bottom {
      .unitize(padding-top, 10);
    }

    .footer--column {
      .unitize(font-size, 11);

      &.column--hotline,
      &.column--newsletter {

        .column--desc {
          .unitize(font-size, 11);

          .fonnumber {
            .unitize(font-size, 16);
          }
        }
      }
    }
  }
}

@media screen and (min-width: @tabletLandscapeViewportWidth) {

  .footer-main {

    .footer--column {
      &.column--hotline {

        .column--desc {

          .fonnumber {
            .unitize(font-size, 19);
          }
        }
      }
    }
  }
}


@media screen and (min-width: @tabletLandscapeViewportWidth) {

  .footer-main {

    .footer--columns {
      .unitize(padding-bottom, 10);
    }
  }
}