body {
  font-family: 'Roboto Condensed', sans-serif;
}

.product--box {

  .price--default {
    text-transform: none;
  }
}

.content-main {
  .is--ctl-listing &,
  .is--ctl-index & {
    .unitize(margin-bottom, 20);
    border-bottom: 20px solid @light-light-gray;
  }
}

.content-main--inner {
  .is--ctl-listing &,
  .is--ctl-index & {
    .unitize(padding-bottom, 0);
  }
}

@media screen and (min-width: @tabletViewportWidth) {

  .content-main {
    .is--ctl-custom & {
      min-height: unset;
    }
  }
}
