body {
  font-family: 'Roboto Condensed', sans-serif;
}

.product--box {

  .price--default {
    text-transform: none;
  }
}

.content-main {
  .is--ctl-listing &,
  .is--ctl-index & {
    .unitize(margin-bottom, 20);
    border-bottom: 20px solid @light-light-gray;
  }

  .is--ctl-index & {
    .unitize(padding-top, 0);
  }
}

.content-main--inner {
  .is--ctl-listing &,
  .is--ctl-index & {
    .unitize(padding-bottom, 0);
  }
}

div[id^="tsbadgeResponsiveTop_"] {
  .is--ctl-listing &,
  .is--ctl-index &,
  .is--ctl-custom &,
  .is--ctl-forms &,
  .is--ctl-newsletter &,
  .is--ctl-detail & {
    .unitize(margin-top, 40) !important;
  }
}

.content--wrapper {
  .is--ctl-custom & {
    .unitize(padding-right, 10);
    .unitize(padding-left, 10);
  }
}

@media screen and (min-width: @tabletViewportWidth) {

  .content-main--inner {
    .unitize-padding(0, 0, 20);
  }

  .content-main {
    .is--ctl-custom & {
      min-height: unset;
    }

    .is--ctl-index & {
      .unitize(padding-top, 40);
    }
  }
}
