

.header-main {
  background-color: @light-gray;

  .top-bar {
    .unitize(right, 0);
    .unitize(top, 0);
    position: absolute;

    .is--ctl-register.is--target-checkout &,
    .is--ctl-checkout & {
      display: none;
    }
  }

  .logo-main {
    .unitize-width(150);

    .logo--shop {
      width: 100%;
    }
  }

  .tbn--toggler {
    .unitize-height(16);
    .unitize-width(16);
    &:before {
      color: @light-gray;
      .unitize(left, 4);
      .unitize(top, -2);
    }
    &:hover {
      background-color: @light-purple;
    }
    &.active {
      background-color: @light-purple;
      &:before {
        .unitize(left, 4);
        .unitize(top, -2);
      }
    }
  }
}

.shop--navigation {

  .entry--cart,
  .entry--account,
  .entry--notepad {

    .btn {
      &:hover {
        color: @light-purple;
      }
    }
  }

  .entry--search {

    .btn {
      &:hover {

        .icon--search {
          color: @light-purple;
        }
      }
    }
  }
}

@media screen and (min-width: @tabletViewportWidth) {

  .header-main {

    .logo-main {
      .unitize-width(250);
    }
  }

  .shop--navigation {
    .unitize(top, 0);
  }
}

@media screen and (min-width: @tabletLandscapeViewportWidth) {

  .header-main {

    .logo-main {
      .unitize-width(260);
    }
  }
}

@media screen and (min-width: @desktopViewportWidth) {

  .header-main {

    .logo-main {
      .unitize-width(290);
    }
  }
}