.navigation-main {

  .navigation--list {
    text-align: left;

    .navigation--entry {

      &.is--hovered {
        .navigation--link {
          color: @light-purple;
        }
      }
    }

    .navigation--entry {

      &.is--active {
        .navigation--link {
          color: @light-purple;
        }
      }
    }
  }

  .navigation--link {
    .unitize(font-size, 16);
    font-family: 'Fjalla One', sans-serif;
  }
}

.advanced-menu {

  .teaser--headline {
    font-family: 'Fjalla One', sans-serif;
  }

  .item--level-0 {

    .menu--list-item-link {
      .unitize(font-size, 16);
    }
  }

  .menu--level-0 > li > a {
    font-family: 'Fjalla One', sans-serif;
  }

  .teaser--headline {
    display: none;
  }
}

@media screen and (min-width: @tabletViewportWidth) {

  .sticky-wrapper {
    .unitize(bottom, 0);
    .unitize(left, 0);
    position: absolute;
    width: 100%;
  }

  .navigation-main {

    .navigation--link {
      .unitize(padding, 5);
      .is-sticky & {
        .unitize(padding, 12);
      }
    }

    .container {
      .unitize(height, 32);
      .is-sticky & {
        .unitize(height, 45);
      }
    }
  }
}

@media screen and (min-width: @tabletLandscapeViewportWidth) {

  .navigation-main {

    .navigation--link {
      .unitize(padding, 12);
    }

    .container {
      .unitize(height, 45);
    }
  }
}