.product--box {
  &.box--minimal {

    .box--content {
      background-color: #f2f2f2;
    }
  }

  .product--price-info {
    display: none;
  }

  .product--price {

    .price--default {
      &.is--discount {
        color: @light-purple;
      }
    }
  }

  .product--title {
    .unitize-height(80);
  }

  .product--badges {

    .badge--discount {
      background: @light-purple;
    }

    .badge--recommend {
      background: @light-purple;
    }

    .badge--newcomer {
      background: @light-purple;
    }

    .badge--esd {
      background: @light-purple;
    }
  }

  .price--default {
    text-transform: none;
  }
}

.is--ctl-listing {

  .product--box {
    &.box--minimal {

      .product--hover-layer {

        .product--title {
          .unitize(font-size, 22);
          color: @middle-gray;
          font-weight: normal;
          text-transform: none;
          line-height: 1.2;
          font-family: 'Roboto Condensed', sans-serif;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}