.product--box {
  &.box--minimal {

    .box--content {
      background-color: #f2f2f2;
      text-align: right;
    }
  }

  .product--price {

    .price--default {
      &.is--discount {
        color: @light-purple;
      }
    }
  }

  .product--badges {

    .badge--discount {
      background: @light-purple;
    }
  }

  .price--default {
    text-transform: none;
  }
}